*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.claude
app/src/main/assets
docs/Phase6_UI_Development_Plan.md
docs/XXpermission使用指南.md
docs/Auralite_Project_Plan.md
docs/Vosk离线语音识别模型使用指南.md